# Ignore ModelSim/Intel FPGA compilation files
/modelsim.ini
/work/
*.wlf
*.log
*.bak
*.vho
*.fdb
*.fsdb
*.psf
*.xwf
*.sdo
*.db

# Ignore ModelSim simulation results
*.vcd
*.gdb
*.trace

# Ignore ModelSim related files
*.cr.mti
*.mpf
transcript
*.wlf
*.vstf

# Ignore backup files (e.g., vim, emacs)
*~
*.swp

# Ignore temporary files created by text editors (e.g., VSCode, Sublime Text)
.vscode/
.idea/
*.transcript
# Ignore compiled and build files
*.o
*.obj
*.exe
*.out
*.dll
